
body {
	background: url(ImgGenerales/fondogr.jpg) repeat fixed;
	font-family: 'David Libre', serif;
	color: #FFF;

}

#header-nav {
	border: 1px red solid;
}

.encabezado {
	border: 1px blue solid;	
}

.navbar-brand {
	border: 1px yellow solid;
	height:auto;
	width:auto;
}

.navbar-brand h1 {
	width:auto;
}

#logo {
	background: url("ImgGenerales/logo.png");
	float: left;
}


