
body {
	background: url(ImgGenerales/fondogr.jpg) repeat fixed;
	font-family: 'David Libre', serif;
	color: #FFF;

}


/* Formato del Header*/
nav {
	background: #000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left bottom, #000, #3B3B3B); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top right, #000, #3B3B3B); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top right, #000, #3B3B3B); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top right, #000, #3B3B3B); /* Standard syntax */
    position: relative;
    opacity: .85;
    min-height: 0;
}

.navbar{
	width:auto;
	height: auto;
	margin-bottom: 0;
	border: 2px solid white;
	border-radius: 5px;
	text-overflow: none;
	min-height: 0;
}

#contlogo {
	background: red;
}

#logo{
	margin: 15px 15px 15px 10px;
	width:150px;
	height: 73px;
	background: url("ImgGenerales/logo.png") no-repeat;
	background-size: cover;
} 

.clear{
	clear: both;
}

.navbar-brand {
	margin: 15px 10px 15px 0px;
	padding: 0;
	height:auto;
}

.navbar-brand h1 {
	color: #FFF;
	text-shadow: 5px 5px #000000;
	font-weight: bold;
	margin-top: 0; 
	margin-bottom: 0;
	padding-top: 0px;
}

.navbar-brand p{
	color:#DDD;
	margin-bottom: 0;

}



/*formato de botones de inicio*/



.areaboton a {
	min-width: 140px;
	font-size: 20px;
	color: white;
	min-height: 20px;
	padding-top: 0;
	padding-bottom: 0;
	opacity: 0.85
}

.areaboton .btn {
	border: #fff solid;
	border-width: 0.5px;
	background: #2B2B2B;
	border-radius: 5px;
}


/*empieza la parte del cuerpo*/

.cuerpo {
	background: #2A2A2A;
	opacity: 0.85;
	margin-top: 0;
	padding-top: 0;
}

/* Formato de media */



/*Formatos según el tamaño de la pantalla*/

@media (min-width: 1200px){
	/*Modificación del encabezado*/
	.navbar-brand h1{
		font-size: 2.5em;
	}

	.navbar-brand p {
		font-size: 1.25em;
	}

}

@media (min-width: 992px) and (max-width: 1199px){
	/*Modificación del encabezado*/
	.navbar-brand {
		margin: 10px 10px 10px 0px;
	}

	.navbar-brand h1{
		font-size: 2em;
	}
	.navbar-brand p {
		font-size: 1em;
	}

	#logo {
	width:123px;
	height: 60px;
	margin: 10px 15px 10px 10px;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	/*Modificación del encabezado*/
	.navbar-brand {
		margin: 10px 10px 10px 0px;
	}

	.navbar-brand h1{
		font-size: 2em;
	}
	.navbar-brand p {
		font-size: 1em;
	}
	#logo {
		width:123px;
		height: 60px;
		margin: 10px 15px 10px 10px;
	}

	.areabotones a {
		min-width: 120px;
	}

}

@media (max-width: 767px){

	.navbar-brand {
		margin: 2vw 2vw 2vw 0px;
	}

	.navbar-brand h1{
		font-size: 5.5vw;
	}
	.navbar-brand p {
		font-size: 2.75vw;
	}
	#logo {
	width:20vw;
	height: 8vw;
	margin: 2vw 3vw 2vw 2vw;
	}

	.areaboton a {
		font-size: 2.5vw;
		min-width: 115px;
	}

}

@media (max-width: 500px) {
  a.hidden-xxs {
    display: none !important;
  }
}

/*termina el formato del header*/